  <%= form_for(task) do |f| %>
    <div class="d-flex justify-content-center flex-column border my-5 p-3">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :details %>
      <%= f.text_field :details %>
      <div class="d-flex">
        <%= f.label :completed %> <br>
        <%= f.check_box :completed, class: 'mx-3'%>
      </div>
      <%= f.submit 'Create task', class: 'btn btn-primary' %>
    </div>
<% end %>
